@model IEnumerable<WebThiTracNghiem.Areas.Admin.Data.CauHoiModel>
@{
    ViewBag.Title = "BatDau";
    Layout = "~/Views/Shared/_BaiThiLayout.cshtml";
}

@section header{
}

@section leftMenu{
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu" style="padding-top:20px;">
                @*<li>
                        <a href="@Url.Action("ThiThu","Home")"><i class="fa fa-book fa-fw"></i> Thi Thử</a>
                    </li>*@
                <li>
                    <p id="timer"></p>
                </li>
            </ul>
        </div>
    </div>
}

<style>
    p {
        text-align: center;
        font-size: 30px;
        margin-top: 0px;
    }

    .row {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    label{
        font-weight:100;
    }
</style>


@using (Html.BeginForm("NopBai", "Home", FormMethod.Post, new { id = "create-new-form", role = "form", enctype = "multipart/form-data" }))
{
    foreach (var item in Model)
    {
        <div class="container">
            <div class="row" style="font-weight:900">
                <input hidden id="@ViewBag.MaDe" name="@ViewBag.MaDe" />
                <input hidden id="@item.MaCauHoi" name="@item.MaCauHoi" />
                <input hidden id="ThoiGianBatDau" name="@DateTime.Now"/>
                @item.TenCauHoi
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="radio" name="answer_@item.MaCauHoi" value="A_@item.A" id="A_@item.MaCauHoi" />
                    <label for="A_@item.MaCauHoi"  style="font-style:normal"><strong style="padding-left:3px;">A/</strong> @item.A</label>
                </div>
                <div class="col-md-6">
                    <input type="radio" name="answer_@item.MaCauHoi" value="B_@item.B" id="B_@item.MaCauHoi" />
                    <label for="B_@item.MaCauHoi"><strong style="padding-left:3px;">B/</strong> @item.B</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="radio" name="answer_@item.MaCauHoi" value="C_@item.C" id="C_@item.MaCauHoi" />
                    <label for="C_@item.MaCauHoi"><strong style="padding-left:3px;">C/</strong> @item.C</label>
                </div>
                <div class="col-md-6">
                    <input type="radio" name="answer_@item.MaCauHoi" value="D_@item.D" id="D_@item.MaCauHoi" />
                    <label for="D_@item.MaCauHoi"><strong style="padding-left:3px;">D/</strong> @item.D</label>
                </div>
            </div>
        </div>
    }

    <div class="row" style="text-align:center">
        <input type="submit" value="Nộp Bài" onclick="NopBai" class="btn btn-default" />
    </div>
}


<script>


    // Set the date we're counting down to
    var countDownDate = new Date();
    countDownDate.setMinutes(countDownDate.getMinutes() + @ViewBag.Time)

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        //var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="timer"
        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
        //days + "d " + hours + "h +"

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

