@model WebThiTracNghiem.Areas.Admin.Data.MonModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Sửa Câu Hỏi
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Thông Tin Câu Hỏi
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Edit", "MonThi", FormMethod.Post, new { id = "create-new-form", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <input type="hidden" name="Id" value="@Model.MaMon" />
                            <div class="form-body">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Mã Môn Thi</label>
                                    <div class="col-md-8" style="margin-bottom:20px">
                                        <input type="text" id="MaMon" name="MaMon" readonly value="@Model.MaMon"/>
                                        @Html.ValidationMessageFor(model => model.MaMon, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Tên Môn Thi</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.TenMon, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenMon, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu" class="btn btn-default" />
                                    </div>
                                </div>

                                @*<div class="form-group form-md-line-input">
                                                            <label class="col-md-3 control-label">Tên Môn</label>
                                                            <div class="col-md-9">
                                                                @Html.DropDownList("TenMon", new SelectList(ViewBag.MonThi, "MaMon", "TenMon"), "Please Select",
                                                           new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.MaMon, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" for="customername">Images</label>
                                        <div class="col-md-9">
                                            <input type="file" name="ImageUpload" />
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="button" value="Lưu" class="btn btn-default" />
                                        </div>
                                    </div>*@
                            </div>
                        }
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



