@model WebThiTracNghiem.Areas.Admin.Data.DeThiModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Sửa Câu Hỏi
}

<style>
    .col-md-8{
        padding-bottom:10px;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Thông Tin Câu Hỏi
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Edit", "DeThi", FormMethod.Post, new { id = "create-new-form", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <input type="hidden" name="Id" value="@Model.MaDe" />
                            <div class="form-body">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Mã Đề Thi</label>
                                    <div class="col-md-8">
                                        <input type="text" id="MaDe" name="MaDe" readonly value="@Model.MaDe" />
                                        @Html.ValidationMessageFor(model => model.MaDe, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Tên Tác Giả</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Thời Gian Làm Bài</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.ThoiGianLamBai, new { htmlAttributes = new { @class = "form-control" } }) Phút
                                        @Html.ValidationMessageFor(model => model.ThoiGianLamBai, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Tổng Số Câu Hỏi</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.TongCauHoi, new { htmlAttributes = new { @class = "form-control" } }) Câu
                                        @Html.ValidationMessageFor(model => model.TongCauHoi, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Chú Thích</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.ChuThich, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ChuThich, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Tên Môn Thi</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("MaMon", (IEnumerable<SelectListItem>)ViewBag.MonThi,
                                   new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaMon, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">Trộn Đề</label>
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(model => model.TronDe)
                                        @Html.ValidationMessageFor(model => model.TronDe, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu" class="btn btn-default" />
                                    </div>
                                </div>

                                @*<div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">Tên Môn</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("TenMon", new SelectList(ViewBag.MonThi, "MaMon", "TenMon"), "Please Select",
                               new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MaMon, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
            <label class="col-md-3 control-label" for="customername">Images</label>
            <div class="col-md-9">
                <input type="file" name="ImageUpload" />
            </div>
        </div>

        <div class="form-group form-md-line-input">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Lưu" class="btn btn-default" />
            </div>
        </div>*@
                            </div>
                        }
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



